.bkcolor {
  margin-left: 5px;
  background-color: rgb(240, 224, 203);
}
.logo {
  padding-top: 22px;
  font-size: large;
}
.txtarea {
  width: 100%;
}
.backgroundcolordiv {
  background-color: rgb(248, 244, 244);
}
